* {
    box-sizing: border-box;
}

.alert {
    padding: 10px;
    border-radius: 10px;
    background-color: coral;
}

.header-alert {
    padding: 10px;
    border-radius: 10px;
    background-color:blue;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
}